body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    margin-top: 150px;
}

.titulo h1 {
    color: white;
    text-align: center;
    font-weight: 420;
}

.icones-topo {
    margin-top: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    gap: 15px;
}

.arquivos-recentes h5 {
    color: grey;
    padding-left: 5%;
    font-size: 15px;
}

.imagens {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 5%;
    padding-top: 10px;
}

.imagens img {
    height: 150px;
    width: 110px;
    border-radius: 17px;
    object-fit: cover;
}

.categorias {
    margin-top: 30px;
}

.categorias h5 {
    color: grey;
    padding-left: 5%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.icones-categorias {
    background-color: rgb(32, 32, 32);
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 30px;
}

.categoria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.categoria-item img {
    height: 30px;
    width: 30px;
}

.categoria-item h5 {
    color: rgb(197, 197, 197);
    font-size: 13px;
    margin: 0;
}


.armazenamento h5{
    color: grey;
    padding-left: 5%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.icones-armazenamento{
    background-color: rgb(32, 32, 32);
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 30px;
}
.armazenamento-item{
    display: flex;
    padding: 0 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.armazenamento-item img{
    height: 40px;
    width: 40px;
    
}
.armazenamento-item h5{
    color: white;
    padding-left: 5%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 420;
}

.logo {
    max-width: 50px;
    width: 20%;
}

.logo img {
    object-fit: cover;
}

.textLogo {
    width: 80%;
    white-space: nowrap;
}
hr{
    padding-left: 5px;
    padding-right: 15px;
    background-color: rgb(48, 48, 48);
    margin: none;
}